<div>
	<div class="page-header">
		<h1> Medidor de Partículas <small>Interfaz de acceso</small></h1> 
	</div>
	<ul class="nav nav-pills">
  		<li role="presentation"><a href="/">Inicio</a></li>
  		<li role="presentation"><a href="/pass">Medidor</a></li>
  		<li role="presentation"><a href="/mediciones" target="_blank">Descargar mediciones</a></li>
  		<li role="presentation"><a href="http://mediciones.aire.uc.edu.py/" target="_blank">Condición actual del aire</a></li>
	</ul>
</div>