<html>

<head>
    <% include ../partials/head %>
    <meta http-equiv="refresh" content="300">
    <style>
       #map {
        height: 30%;
        width: 100%;
       }
    </style>
</head>

<body>
	<div class="container">

		<header>
			<div style="height: 10px;">
			</div>
			<div class="jumbotron" style="height: auto; background-image:url('blue-quotsplashquot.jpg');">		
				<h1> Condición actual del aire <br><small> UC, Campus Santa Librada, Asunción</small></h1> 
				
				<div class="jumbotron" id="map"></div>
				<h3 id="message" role="alert"></h3>
				<h4 id="date"></h4>
			</div>
			
		</header>

		<main>
			<div class="panel panel-info">
			  <div class="panel-heading"><h4><strong>Índice de calidad del aire (ICA)</strong></h4></div>	
			  <div class="panel-body">
			  	<p class="text-justify">
			    	El índice de calidad del aire (ICA) se ha de interpretar como un indicador de la calidad del aire sobre una base del promedio en 24 horas, obtenido a partir de mediciones de PM2.5 realizadas por el grupo de investigación en contaminación atmosférica del Departamento de Ingeniería Civil, Industrial y Ambiental (DICIA) de la Facultad de Ciencias y Tecnología UC. Para la elaboración del ICA se han tomado como referencia la definición del índice de calidad del aire de la Agencia de Protección Ambiental de EE.UU. (EPA) y las guías de la Organización Mundial de la Salud (OMS) para la contaminación atmosférica por partículas finas PM2.5.
			    </p>
			  </div>
			</div>
			<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><h4><strong>Interpretación de niveles según la escala del ICA</strong></h4></div>
			  <!-- List group -->
			  <ul class="list-group">
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">0-50</span> Bueno</h4></span>
			    <p class="list-group-item-text text-justify"> La calidad del aire se considera satisfactoria y la contaminación atmosférica presenta un riesgo escaso o nulo.</p></li>
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">51-100</span> Moderado</h4> <p class="list-group-item-text text-justify"> La calidad del aire es aceptable pero podría existir una preocupación moderada para la salud de un grupo muy pequeño de personas extraordinariamente susceptibles.</p></li>
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">101-150</span> Insalubre para grupos sensibles</h4> <p class="list-group-item-text text-justify">Si bien las personas en general no van a sufrir en esta gama del ICA, las personas con cardiopatías y enfermedades pulmonares, los adultos mayores y los niños son más susceptibles a la presencia de partículas en el aire.</p></li>
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">151-200</span> Insalubre</h4><p class="list-group-item-text text-justify"> Todos pueden comenzar a padecer efectos adversos para la salud y los miembros de los grupos sensibles pueden padecer efectos más graves.</p></li>
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">201-300</span> Muy insalubre</h4><p class="list-group-item-text text-justify"> Todos pueden padecer efectos más graves para la salud.</p></li>
			    <li class="list-group-item"><h4 class="list-group-item-heading"><span class="badge">301-500</span> Peligroso</h4><p class="list-group-item-text text-justify"> Son mayores las probabilidades de que toda la población esté afectada.</p></li>
			  </ul>
			</div>
			<div class="panel panel-info">
			  <div class="panel-heading"><h4><strong>Aviso de uso</strong></h4></div>	
			  
				  <ul class="list-group">
				    <li class="list-group-item">
				    <p class="list-group-item-text text-justify"> Los datos publicados son solamente 		indicativos del nivel de calidad del aire para fines de información y uso personal, y no constituyen datos oficiales para fines de verificación de cumplimiento de normativas nacionales.</p></li>
				    <li class="list-group-item"><p class="list-group-item-text text-justify"> Todos los datos de la calidad del aire no están validados en el momento de la publicación y estos
					datos pueden modificarse, sin previo aviso, en cualquier momento como resultado del control de calidad.</p></li>
				    <li class="list-group-item"><p class="list-group-item-text text-justify">El grupo de investigación ha ejercitado todas las habilidades y cuidados razonables al generar
					esta información y bajo ninguna circunstancia serán responsables por cualquier pérdida, lesión o daño que surja directa o indirectamente del suministro de estos datos.</p></li>
				    <li class="list-group-item"><p class="list-group-item-text text-justify"> Para más información, póngase en contacto con el grupo de investigación: <a href="mailto:aire@uc.edu.py">aire@uc.edu.py</a>.</p></li>
				  </ul>
			  </div>
		
		</main>
		
		<footer>
			<% include ../partials/footer %>	
		</footer>
	</div>
	<script>
		(function() {
			var value = "<%= value %>";
			value = Number(value).toFixed(0);
			/***
				La escala de interpretacion del ICA
			***/
			var message = "Indeterminado";
			var alertType = "alert alert-warning";

			if (value >= 0 && value <= 50){
				message = "Bueno";
				alertType = "alert alert-success";
			} else if (value >= 51 && value <= 100){
				message = "Moderado";
				alertType = "alert alert-info";
			}  else if (value >= 101 && value <= 150){
				message = "Insalubre para grupos sensibles";
				alertType = "alert alert-warning";
			} else if (value >= 151 && value <= 200){
				message = "Insalubre";
				alertType = "alert alert-danger";
			} else if (value >= 201 && value <= 300){
				message = "Muy insalubre";
				alertType = "alert alert-danger";	
			} else if (value >= 301){
				message = "Peligroso";
				alertType = "alert alert-danger";
			}

			var isStopped = "<%= stopped %>";
			if (isStopped === 'true') {
				document.getElementById("message").className = "alert alert-warning";
				document.getElementById("message").innerHTML = "En estos momentos el medidor no se encuentra operativo";
				swal("¡Atención!", "En estos momentos el medidor no se encuentra operativo", "warning");
			} else {
				document.getElementById("message").className = alertType;
				document.getElementById("message").innerHTML = "En estos momentos el índice de calidad del aire de PM2.5 es: " + '<strong>' + message + ' (' + value + ') ' + '</strong>';
			}
			var date = new Date();
			document.getElementById("date").innerHTML = 'Última actualización: ' + date.toLocaleString('es');

			var d = new Date();
			document.getElementById("foot").innerHTML = 'Powered by LED | ' + d.getFullYear();

		})();
	      function initMap() {
	        var uluru = {lat: -25.323276, lng: -57.6370054};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 15,
	          center: uluru

	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	      }		
	</script>	
    <script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
    </script>
</body>

</html>