<html>

<head>
    <% include ../partials/head %>
</head>

<body>
	<div class="container bg-secondary">

		<header>
			<% include ../partials/header %>
		</header>

		<main>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Bienvenido</h3>
			  </div>
			  <div class="panel-body">
			    	Desde esta interfaz podrá iniciar o detener las mediciones de partículas, así como descargar los archivos que contienen las mediciones.
			  </div>
			</div>
		</main>
		
		<footer>
			<% include ../partials/footer %>	
		</footer>

	</div>
</body>

</html>