<html>

<head>
    <% include ../partials/head %>
</head>

<body>
	<div class="container">

		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<h3 id="message" class="alert alert-success" role="alert"></h3>
		</main>
		
		<footer>
			<% include ../partials/footer %>	
		</footer>
	</div>
	<script>
		(function() {
			var id = "<%= id %>";
			switch(id) {
			    case 'start':
			        document.getElementById("message").innerHTML = "El medidor se ha iniciado correctamente";
			        break;
			    case 'stop':
			        document.getElementById("message").innerHTML = "El medidor se ha detenido correctamente";
			        break;
				case 'pass':
			        document.getElementById("message").innerHTML = "La clave se ha actualizado correctamente";
			        break;
			    default:
			        document.getElementById("message").innerHTML = "Operación exitosa";
			}

		})();
	</script>	
</body>

</html>